# Default configuration file.
# IMPORTANT: update the [Files] section if you subscribe to one or other of the MaxMind commercial databases

[Local]
download-dir: /usr/local/share/GeoIP/download
destination-dir: /usr/local/share/GeoIP

[MaxMind]
uri: http://geolite.maxmind.com/download/geoip/database

[Files]
# Format is local filename:MaxMind relative path
GeoIP.dat.gz: GeoLiteCountry/GeoIP.dat.gz ; DELETE this line if you are a subscriber
GeoIPCity.dat.gz: GeoLiteCity.dat.gz ; DELETE this line if you are a subscriber 
GeoIPv6.dat.gz: GeoIPv6.dat.gz
GeoIPASNum.dat.gz: asnum/GeoIPASNum.dat.gz
