# Default configuration file.
# IMPORTANT: update the [Files] section if you subscribe to one or other of the MaxMind commercial databases

[Local]
download-dir: /usr/local/share/GeoIP/download
destination-dir: /usr/local/share/GeoIP

[MaxMind]
uri: http://geolite.maxmind.com/download/geoip/database/ ; Needs trailing slash

[Files]
# Format is local filename:MaxMind relative path
GeoIP.dat.gz: GeoLiteCountry/GeoIP.dat.gz ; DELETE this line if you are a subscriber
GeoIPCity.dat.gz: GeoLiteCity.dat.gz ; DELETE this line if you are a subscriber 
GeoIPv6.dat.gz: GeoIPv6.dat.gz
GeoIPASNum.dat.gz: asnum/GeoIPASNum.dat.gz

[HipChat]
# Delete this whole section (including [HipChat] above) if you don't use HipChat
cli-path: /usr/local/bin/hipchat_room_message
room-id: <<HipChat Room ID>>
token: <<HipChat API token (can be notification only token)>>
from-name: maxmind-geolite-update
color: purple
